body {

    background-color: #6ea5ff;
    color: black;
}

div#footer {
    
    font-size: 1em;
    background-color: #E9E9E9;
    border: 4px solid black;
    margin-top: 3em;
    padding: 1em;
}

